body {
  background-color: #f4f9fa;
}

.App {
  text-align: center;
}

.completed {
  background-color: #ccf3dc;
}

.uncompleted {
  background-color: #000;
}

.push-righ {
  margin-left: 30% ;
}

.game-info{
  color: #fff;
  font-size: 20px;
}

.bg-dark {
  background-color: #000!important;
}

.card-text {
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
